{% extends 'header.html' %}

{% block title %} Departments {% endblock %}

{% block content %}

<form method="get">
    {{ filter_form.as_p }}
    <button type="submit">Filter</button>
</form>
<br>

{% if departments %}
    <table>
        <th>Name</th>

        {% for department in departments %}

        <tr>
            <td>
                <a href="{% url 'view_department' pk=department.pk %}">
                    {{ department.name }}
                </a>
            </td>
        </tr>

        {% endfor %}

    </table>
{% else %}
    Nothing found
{% endif %}

{% endblock %}
