{% extends 'header.html' %}

{% block title %} Employees {% endblock %}

{% block content %}

    <form method="get">
        {{ filter_form.as_p }}
        <button type="submit">Filter</button>
    </form>
    <br>

    {% if employees %}

        <table>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Рабочая группа</th>
            <th>Отдел</th>
            <th>Стаж</th>
            <th>Зарплата</th>
            <th>Кол-во дней отпуска</th>

        {% for employee in employees %}

            <tr>
                <td>
                    <a href="{% url 'view_employee' pk=employee.pk %}">
                        {{ employee.name }}
                    </a>
                </td>
                <td>{{ employee.occupation }}</td>
                <td>
                    {% if employee.workgroup %}
                    <a href="{% url 'view_workgroup' pk=employee.workgroup.pk %}">
                        {{ employee.workgroup }}
                    </a>
                    {% endif %}
                </td>
                <td>
                    {% if employee.workgroup.department %}
                    <a href="{% url 'view_department' pk=employee.workgroup.department.pk %}">
                        {{ employee.workgroup.department }}
                    </a>
                    {% endif %}
                </td>
                <td>{{ employee.experience }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.vacation_days }}</td>
            </tr>

        {% endfor %}

        </table>

    {% else %}

        Nothing found

    {% endif %}

{% endblock %}